/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;;
}

a, h6, svg {
    background: transparent;
    text-decoration: none
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*----------- U N I V E R S A L ----------------*/

@import url('https://fonts.googleapis.com/css2?family=Iceland&display=swap');

* {
    background: rgb(19, 19, 19);
    color: #FFF;
    user-select: none;
}

body {
    font-family: 'Iceland', cursive;
}

/*--------------- M E N U --------------------*/

.menu-area-pc {
    display: flex;
    justify-content: space-between;
    padding-top: 1em;
    vertical-align: center;
}

.menu-area-pc h1 {
    font-size: 60px;
    padding-left: 4em;
    background: transparent;
}

.menu-area-pc ul {
    width: 30%;
    display: flex;
    justify-content: space-evenly;
    padding-top: 1em;
    font-size: 18px;
}



.menu-area-pc ul .menu-active-pc {
    font-size: 20px;
    transition: all 0.2s;
}
.menu-area-pc ul .menu-active-pc {
    opacity: 0.5;
    transform: translateY(5px);
}
.menu-area-pc ul .menu-item-pc {
    font-size: 20px;
    transition: all 0.2s;
}
.menu-area-pc ul .menu-item-pc:hover {
    cursor: pointer;
    opacity: 0.5;
    transform: translateY(2px);
}

/*---------------- M E N U  M O V E L ---------------*/








.menu-area-movel {
    display: flex;
    justify-content: space-between;
    padding: 1em;
}


.menu__icon {
    position: relative;
    width: 40px;
    height: 30px;
    background: transparent;
    cursor: pointer;
    display: block;
  }
  
  .menu-area-movel .input {
    display: none;
  }
  
  .menu__icon span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: black;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
  }
  
  .menu__icon span:nth-of-type(1) {
    top: 0px;
    transform-origin: left center;
    background: #FFF;
  }
  
  .menu__icon span:nth-of-type(2) {
    top: 50%;
    transform: translateY(-50%);
    transform-origin: left center;
    background: #FFF;
  }
  
  .menu__icon span:nth-of-type(3) {
    top: 100%;
    transform-origin: left center;
    transform: translateY(-100%);
    background: #FFF;
  }
  
  .input:checked ~ div label span:nth-of-type(1) {
    transform: rotate(45deg);
    top: 0px;
    left: 5px;
    background-color: #F00;
  }
  
  .input:checked ~ div label span:nth-of-type(2) {
    width: 0%;
    opacity: 0;
  }
  
  .input:checked ~ div label span:nth-of-type(3) {
    transform: rotate(-45deg);
    top: 28px;
    left: 5px;
    background-color: #F00;
  }

  .container__menu__itens {
    display: none;
    position: absolute;
    width: 20vw;
    height: 25em;
    top: 5em;
    left: 1em;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 0 1em;
    box-shadow: 5px 5px 15px rgb(10, 10, 10);
    animation: firstAnimateMenu 1s;
    transition: all 1s;
}

.input:checked ~ .container__menu__itens {
    display: block;
  }
  
  
  .item__menu {
      display: block;
      font-size: 20px;
      padding: 2em 40% 2em 20%;
      transition: all 0.2s;
      margin-top: 1em;
      border: 1px solid rgb(26, 26, 26);
      border-radius: 10px;
      animation: itens__menu 1s;
  }
  
  .item__menu:hover {
      text-shadow: 0px 0px 10px #FFF;
      box-shadow: inset 0 0 10px #454545;
  }
  #item__ativo {
    box-shadow: none;
    text-shadow: none;
    background: rgb(30, 30, 30);
  }

  .container-icon-menu {
      background: rgb(19, 19, 19);
      padding: 1em;
      border-radius: 10px;
      box-shadow: inset 0 0 5px rgb(40, 40, 40);
  }
  
  .menu-area-movel h1 {
      font-size: 50px;
      padding-right: 1em;
      background: transparent;
  }

/*
.menu-area-movel .container-icon-menu {
    text-align: right;
    background: transparent;
    margin-right: 4em;
    margin-top: -3em;
}

.menu-area-movel .container-icon-menu .close-open-icon {
    display: inline-block;
    background: transparent;
    width: 50px;
    transition: all 0.2s;
}
.menu-area-movel .container-icon-menu .close-open-icon:hover {
    cursor: pointer;
    opacity: 0.6;
}

.menu-area-movel ul {
    display: none;
    width: 100%;
    height: 85vh;
    text-align: center;
    font-size: 30px;
    padding: 1em 0;
}

.menu-area-movel ul .menu-item-movel {
    background: transparent;
    margin-top: 5em;
    transition: all 0.2s;
}
.menu-area-movel ul .menu-active-movel {
    background: transparent;
    transform: translateY(3px);
    opacity: 0.2;
    text-decoration: underline;
    margin-top: 5em;
}
.menu-area-movel ul .menu-item-movel:hover {
    transform: translateY(3px);
    opacity: 0.5;
}
*/


@keyframes firstAnimateMenu {
    from {
        height: 0;
    }

    to {
        height: 25em;
    }
}

@keyframes itens__menu {
    0% {
        display: none;
        transform: scale(0);
    }
    
    50% {
        display: block;
        transform: scale(0);
    }

    100% {
        display: block;
        transform: scale(1);

    }
}


/*--------------- F O O T E R --------------------*/


.menu-area-pc {
    display: none;
} 

/*--------------- F O O T E R --------------------*/

.container-footer {
    margin-top: 15em;
    text-align: center;
    padding: 1.5em 0;
    font-size: 18px;
    background: rgb(30, 30, 30);
}

@media only screen and (max-width: 800px) {
    .container__menu__itens {
        width: 40vw;
    }
}

@media only screen and (max-width: 500px) {
    .container__menu__itens {
        width: 50vw;
    }
}